.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.top{
    background-color: red;
    position: sticky;
    top: 0px;
}

.content{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "l p"
    "l m"
    "l m";

}

.post{
    grid-area: p;
}

.left{
    grid-area: l;
}

.main{
    grid-area: m;
}