.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
}

.container div {
    padding: 5px;
}

.top{
    border: 1px solid black;
    grid-column: 1/span 4;

}

.left{
    border: 1px solid rgb(124, 20, 20);
    grid-column: 1;
    position: sticky;
    top: 0px;
}

.content{
    border: 1px solid rgb(16, 97, 190);
    grid-column: 2/span 3;
}